#wrapper {
    min-height: 100%;
    position: relative;
}

.detalle{
  font-size: 16px !important;
}

.p-l-10{
    padding-left: 10px;
}

.p-r-10{
    padding-right: 10px;
}

.p-l-15{
    padding-left: 15px;
}

.p-r-15{
    padding-right: 15px;
}

.p-l-20{
    padding-left: 20px;
}

.p-r-20{
    padding-right: 20px;
}

.p-l-25{
    padding-left: 25px;
}

.p-r-25{
    padding-right: 25px;
}

.p-l-30{
    padding-left: 30px;
}

.p-r-30{
    padding-right: 30px;
}

.f-15{
  font-size: 15px !important;
}

.f-16{
  font-size: 16px !important;
}

.f-17{
  font-size: 17px !important;
}

.f-18{
  font-size: 18px !important;
}

.f-20{
  font-size: 20px !important;
}

.f-25{
  font-size: 25px !important;
}

.block {
    width: 100%;
    margin: 0 auto;
    position: relative;
}

.nav-stacked>li {
    float: none;
    border: 1px solid #999;
    border-radius: 4px;
    font-weight: bold;
    font-family: 'BebasNeueRegular',Open Sans;
}

.well{
  background-color: #ddd;
}

.nav>li>a:focus, .nav>li>a:hover {
    text-decoration: none;
    background-color: #999;
    color: #fff;
}


.header {
    background: url(../img/headerbg.png);
}

.header .block {
    background: url(../img/textureheader.png) no-repeat center top;
    padding: 15px 0px;
}

.logo {
    float: left;
}

a {
    text-decoration: none;
    color: #666;
}

.menu {
    float: right;
    width: 650px;
    position: relative;
    height: 80px;
}

.clear {
    clear: both;
}

.menu .nav {
    position: absolute;
    right: 0;
    bottom: -16px;
    z-index: 99;
}

.menu .nav ul li {
    float: left;
    margin-left: 5px;
    list-style: none;
}

.menu .nav ul li a:hover, .menu .nav ul li a.active {
    background: #eeeff0;
    color: #333;
}

.menu .nav ul li a {
    display: block;
    padding: 12px 12px;
    color: #fff;
    font-weight: bold;
}

.breadcrumb {
    line-height: 41px;
    font-family: 'BebasNeueRegular',Open Sans;
    font-size: 16px;
    color: #3c3f41;
}

.loguser {
    position: absolute;
    right: 0;
    top: 0px;
    font-family: 'Open Sans';
    font-size: 12px;
    width: auto;
}

.loguser {
    font-family: 'Open Sans';
    font-size: 12px;
}

.log {
    float: right;
    margin-left: 15px;
    padding-top: 4px;
}

.log a {
    float: right;
    line-height: normal;
    display: block;
    background: #525c61;
    box-shadow: 0 0 5px 1px rgba(0,0,0,0.3) inset;
    font-size: 12px;
    border: 1px solid #7c858a;
    padding: 5px 12px;
    color: #c6cfd3;
    font-family: 'BebasNeueRegular', 'Open Sans';
}

.gris{
  background:#eee;
}

.pt-inner {
    text-align: center;
}
.tile {
    background-color: #fff;
    margin-bottom: 30px;
    position: relative;
}
.tile {
    box-shadow: 0 1px 1px rgba(0,0,0,.07);
}

.ptib-item {
  text-align: justify !important;
}

.pt-inner .pti-header {
    padding: 45px 10px 70px;
    color: #fff;
    position: relative;
    margin-bottom: 15px;
}
.bg-amber {
    background-color: #ffc107!important;
}
.bg-green {
    background-color: #4caf50!important;
}
.bg-cyan {
    background-color: #00bcd4!important;
}
.pt-inner .pti-header>h2 {
    margin: 0;
    line-height: 100%;
    color: #fff;
    font-weight: 100;
    font-size: 50px;
}
.pt-inner .pti-header>h2 small {
    color: #fff;
    letter-spacing: 0;
    vertical-align: top;
    font-size: 16px;
    font-weight: 100;
}
.pt-inner .pti-header .ptih-title {
    background-color: rgba(0,0,0,.1);
    padding: 8px 10px 9px;
    margin: 0 -10px;
    position: absolute;
    width: 100%;
    bottom: 0;
}
.pt-inner .pti-header .ptih-title {
    text-transform: uppercase;
}
.pt-inner .pti-body {
    padding: 0 23px;
}
.pt-inner .pti-body .ptib-item:not(:last-child) {
    border-bottom: 1px solid #eee;
}
.pt-inner .pti-body .ptib-item {
    padding: 15px 0;
    font-weight: 400;
}
.pt-inner .pti-footer {
    padding: 10px 20px 30px;
}
.pt-inner .pti-footer>a {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    color: #fff;
    display: inline-block;
    line-height: 60px;
    font-size: 30px;
}
